@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top:5%">
    <img src="~/images/Jason Statum.jpg" style="height:30%;width:50%" alt="Jason Statum">
</div>
<div style="margin-top:1%">
    <button style="margin-left:50px;border-radius:5px;color:darkblue">CAPTURE</button>
    <button style="margin-left:50px;border-radius:5px;color:green">VERIFY</button>
</div>