@{
    ViewBag.Title = "Admin Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
       Employee And Attendance Management Portal
    </title>
</head>
<body>
    <div>
       
    </div>
</body>
</html>
