@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo: Take a Selfie With JavaScript</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>
<body>

    <div class="container">

        <div class="panel panel-info">
            <div class="panel-heading">Take a Photo</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4"></div>
                    <div class="col-md-4 col-lg-4 col-sm-4">
                        <div class="app">
                            <a href="#" id="start-camera" class="visible">Touch here to start the app.</a>
                            <video id="camera-stream"></video>
                            <img id="snap">
                            <p id="error-message">
                            </p>

                            <!-- Hidden canvas element. Used for taking snapshot of video. -->
                            <canvas width="300" height="400"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">

                        <div class="controls">
                            <div style="font-size:1.5em; color:Tomato">
                                <a href="#" id="take-photo" title="Take Photo">
                                    <i class="fas fa-camera-retro fa-sm btn btn-default">
                                        Capture
                                    </i>
                                </a>
                            </div>
                            <br />
                            <div style="font-size:1.5em; color:Tomato">
                                <a href="#" id="delete-photo" title="Delete Photo" class="disabled">
                                    <i class="fas fa-trash fa-sm btn btn-default">
                                        Delete
                                    </i>
                                </a>
                            </div>
                            <br />
                            <div style="font-size:1.5em; color:Tomato">
                                <a href="#" id="download-photo" download="selfie.png" title="Save Photo"
                                   class="disabled">
                                    <i class="fas fa-download fa-sm btn btn-default">
                                        Download
                                    </i>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="ResponseTable">
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script src="~/Scripts/CamScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        .contant {
            border: 1px solid #ddd;
            border-radius: 4px;
            width: 500px;
            padding: 20px;
            margin: 0 auto;
            text-align: center;
        }
    </style>
</body>
</html>  